.b-remove{
    background-color: var(--bs-red);
    color: var(--bs-white);
    border-color: var(--bs-red);
}
.icon{
    font-size: 1.45rem;
}
.icon-min{
    font-size: 1.25rem;
}
.custom-icon {
    cursor: pointer;
}
.star{
    font-size: 1.25rem;
}